*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: absolute;
  color: #ffffff;
  /* width: 354px; */
  /* height: 80px; */
  left: 52px;
  /* top: 115px; */
  /* margin: 0; */
  background-color: #1f2937;
}

#heading {
  font-family: "Karla";
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3em;
}

section div {
  line-height: 1.125;
}

.greenText {
  color: #4adf86;
}

.smallerText {
  font-size: 1rem;
  font-weight: 200;
  padding-top: 10px;
}

#pw-generator {
  background-color: #10b981;
  border-radius: 6px;
  color: #ffffff;
  justify-content: center;
  margin-top: 40px;
  padding: 9px 17px 9px 15px;
}

hr {
  opacity: 0.125;
  margin: 1.5rem 0;
}

#passwords {
  display: flex;
  gap: 1rem;
}

.generatedPassword {
  background-color: #273549;
  border-radius: 6px;
  height: 2rem;
  width: 10rem;
}